<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sign Up</title>
    <link rel="stylesheet" th:href="@{../../styles/main.css}" />
</head>
<body>
    <h1>Sign Up</h1>
    <form th:action="@{/auth/signup}" th:object="${auth}" method="post">
        <div>
            <label for="fullName">Full Name:</label>
            <input type="text" id="fullName" th:field="*{fullName}" />
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" th:field="*{email}" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" th:field="*{password}" />
        </div>
        <div>
            <button type="submit">Sign Up</button>
        </div>
    </form>
    <a href="/auth/signin">Already have an account? Sign In</a>
</body>
</html>
